<div>
    <%= flash[:notice] %>
</div>
<p>Title:</p>
<p><%= @book.title %></p>
<p>Body</p>
<p><%= @book.body %></p>

<span><%= link_to "edit", edit_book_path(@book.id) %></span>
<a href="/books">Back</a>