* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 33px;
}

table {
    font-size: 13px;
}

th {
    padding-bottom: 5px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-rigth: 5px
}

.create {
    margin-bottom: 10px;
}

.edit {
    margin: 0;
    margin-bottom: 10px;
}

.edit-text {
    margin: 0;
}